<div class="container">
  <p>
    <a id="my-replace-click">Replace</a>
    <a id="my-remove-click">Remove</a>
    <a id="my-remove-all-click">Remove All</a>
  </p>

  <div id="foo" style="border: 1px solid red;">
    <p>bar</p>
  </div>

  <div class="zoo"><p>a</p></div>
  <div class="zoo"><p>b</p></div>
  <div class="zoo"><p>c</p></div>

 <%= content_for :handwrite_javascript do %>
  <script>
    $("#my-replace-click").click(function(){
      $("#foo").replaceWith('<div id="foo" style="border:1px solid green"><p>foo</p></div>');
    })

    $("#my-remove-click").click(function(){
      $("#foo").remove();
    })

    $("#my-remove-all-click").click(function(){
      $(".zoo").remove();
    })
  </script>
 <% end %>
</div>


<%# 其实这里的remove all是利用class能重复出现 所以属于这个class的就一锅端 这方法实现remove all的 %>
